*.swp
*.py[cod]
*~
pyrthologous/Parasites
*.log
docs/build
docs/Makefile
docs/man

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
docs/build
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
include
lib
lib64
man
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.rope*
